#mine1{
    padding-left: 340px;
    margin: 25px;
    
}
.titulo{
    color: aliceblue;
    text-align: center;
    margin: 50px;
    font-size: 70px;
}
.minezin1{
  color: goldenrod;
}
.minezin2{
  color: darkgrey;
}

 .container{

background-image: url('img/maxresdefault.jpg');


 }
 body {
  background-image: url(img/fundo1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 97vh;
  margin: 0;
  padding: 0;
  
  
  font-family: 'VT323', monospace;
}

.meubotao:hover {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition-duration: 0.4s;
}

.meubotao:hover {
  background-color: #3e8e41;
}
footer{
  bottom: 0;
  background-image: url(./img/maxresdefault.jpg);
  background-size: cover;
  
}