#mine1{
    padding-left: 340px;
    margin: 25px;
    
}
.titulo{
    color: aliceblue;
    text-align: center;
    margin: 50px;
    font-size: 70px;
}
.minezin1{
  color: goldenrod;
}
.minezin2{
  color: darkgrey;
}